# Dependencies
node_modules/

# Expo
.expo/
. expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp